/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	background-color:#E4E4E4;
	background-image: url(../img/lightblue-line-bg-8x8.png);

	/*
	background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
	background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
	background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
	background-image:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #A7A7A7),
		color-stop(0.51, #E4E4E4)
	);
	background-attachment:fixed;
	*/

	font-family:'Raleway', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-weight: 200;
	/*font-size:12px;*/
	height:100%;
	margin:0px;
	padding:0px;
	text-transform:uppercase;
	width:100%;
}

/*Base styles*/
button {
	font-size: 2em;
	padding: .6em 1.2em;
	background: #fcfcfc;
    border: 1px solid #fff;
	-webkit-border-radius: 4px;
    border-radius: 4px;
}

h1, h2, h3, h4, h5, h6, a, p, button {
	text-align: center;
	font-family: 'Raleway';
}

h1 {
	font-family: 'Raleway Dots';
	font-weight: 100;
	font-size: 4.5em;
	text-align: center;
	margin-top: 15%;
}

h2 {
	font-size: 3em;
	font-weight: 600;
	margin: 1em 0 2em;
}

h3 {
	font-size: 2em;
	font-weight: 600;
}


/*Global*/
#loading-overlay {position:fixed; top:0; right:0; bottom:0; left:0; background: #ccc;}
#loading-overlay i {position: absolute; text-align: center; top: 50%; display: block; width: 100%; margin-top: -0.5em;}


.app, #home {position: absolute; top:0; right: 0; bottom: 0; left: 0;}

.top-bar {
	margin-bottom: 1em;
	background: #fff;
	border-bottom: 1px solid rgba(11,201,240,.2); // (11,201,240) equivalent of #0bc9f0
}

#app-screen-holder {position: absolute; top:0; right: 0; bottom: 0; left: 0;}
.app-screen {position: absolute; top:0; right: 0; bottom: 0; left: 0;}

#timeselector {
	text-align: center;
	margin-top: 2em;
}

@keyframes fade {
	from { opacity: 1.0; }
	50% { opacity: 0.4; }
	to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
	from { opacity: 1.0; }
	50% { opacity: 0.4; }
	to { opacity: 1.0; }
}

/* Home Page */

div#get-started {
	position: absolute;
	bottom: 4em;
	width: 100%;
}

div#get-started button {
	text-align: center;
	width: 15em;
}

div#get-started button:first-child {
	margin-bottom: .45em;
}


/* Time Page */

.excercise {clear: both; }
.excercise {background:#ccc;}
.excercise.isActive {background:#f00;}
.excercise.isInRestMode {background:#0f0;}

.arcordeon {overflow: hidden; height: 0;}
.isActive .arcordeon {height: auto;}


/* helpers */
.hide {display: none;}
.clear {clear: both;}

.blink {
	animation:fade 3000ms infinite;
	-webkit-animation:fade 3000ms infinite;
}

.right {
	position: absolute;
	right: 0px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
	
}


